*{
    margin: 0px;
    padding: 0px;
 }
 
 
 #mainDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg,rgb(187, 182, 182),black);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
 }
 
 
 #mainTag{
    position: absolute;
    background-image: linear-gradient(45deg, rgb(145, 151, 242),white);
    color: #0e0e0f;
    font-size: 3rem;
    top: 25px;
    padding: 10px;
    border-radius: 4%;
 }
 
 
 #homepageURL{
    position: absolute;
    padding: 5px 10px;
    background-image: linear-gradient(yellow,white);
    color: black;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    left: 90%;
    top: 5%;
    font-style:italic;    
 }
 
 
 
 
 #myFav{
    position: absolute;
    height: 70%;
    width: 70%;
    top: 23%;
    left: 16%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: white; */
    overflow-y: scroll;
    overflow-x: hidden;
 }
 
 
 #myFav div div{
    height: 480px;
    width: 300px;
    /* background-color: black; */
    margin: 10px;
    overflow: hidden;
    background-image: linear-gradient(45deg, black,white);
    
 }
 
 
 #myFav div div img{
    position: relative;
    height: 75%;
    width: 90%;
    /* object-fit: cover ; */
    top: 10px;
    
 }
 
 
 #myFav div div h4{
    display: flex;
    position: relative;
    top: 12px;
    color: white;
    left: 10px;
 }
 #myFav div div h5{
    display: flex;
    position: relative;
    color: white;
    top: 17px;
    left: 10px;
    
 }
 
 
 #myFav div div .bookMark{
    position: relative;
    left: 125px;
    color: red;
    cursor: pointer;
    /* bottom: 5%; */
    top: 7%;
 }
 
 
 .bookMark:hover{
    color: pink;
 }