*{
    margin: 0px;
    padding: 0px;
 }
 body {
    /* background-image: linear-gradient(10deg, red, black); */
 }
 
 
 #infoMainDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg,rgb(187, 182, 182),black);
 }
 
 
 #poste{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
 }
 
 
 #imageInfo img{
    position: absolute;
    top: 15%;
    left: 5%;
    height: 450px;
    width: 350px;
    border: 7px solid white;
 }
 #moreInfo {
    position: absolute; 
    font-family:cursive ;
 }
 #moreInfo h4{
    display: inline;
    position: relative;
    top: 95px;
    left: 32%;
    padding: 10px;
    
 }
 
 
 #primeInfo{
    position: absolute;
    height: 6rem;
    width: 45%;
    top: 15%;
    left: 40%;
    /* display: flex;
    flex-direction: column; */
    font-family:cursive ;
    font-size: larger;
 }
 
 
 #title{
    /* position: relative; */
    /* top: 15%; */
    /* left: 40%; */
    font-size: 2.5rem;
    border-bottom: 1px solid white;
 }
 
 
 p{
    position: relative;
    margin-top: 1px;
    top: 20%;
    /* left: 40%; */
 }
 
 
 #directorDetails{
    position: absolute;
    top: 200%;
    margin-top: 50px;
 }
 #writerDetails{
    position: absolute;
    top: 250%;
    margin-top: 50px;
 }
 #actorDetails{
    position: absolute;
    top: 300%;
    margin-top: 50px;
 }
 #releaseData{
    position: absolute;
    top: 350%;
    margin-top: 50px;
 }
 #boxOffice{
    position: absolute;
    top: 400%;
    margin-top: 50px;
 }
 
 
 #backButton {
    position: absolute;
    padding: 5px 10px;
    background-image: linear-gradient(yellow,white);
    color: black;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    left: 90%;
    top: 17px;
    font-style:italic;        
 }
 
 
 /* Optional hover effect */
 #backButton:hover {
    background-color: cyan;
 }